@import url(common.css);

.r_content{margin-top:100px;width: 96%;margin:20px;background:white;}
.con_top h2{width:100%;height: 45px;line-height:45px;text-align:center;font:normal 20px/45px "微软雅黑";background:#75808E;color:white;}
.con_top .top_form{height:50px;background:#F5F5F5;text-align:center;line-height: 50px;position:relative;z-index:1;}
#refresh{padding:6px 18px;background:#8291AE;border-radius:5px;color:white;}
#searb{padding:8px 0;width:30%;border:1px solid #CFCFCF;height:12px;line-height: 12px;padding-left:5px;border-radius:5px;color:#B9B9C4;}
.con_top .top_form img{position:absolute;left:66%;top:15px;}


.r_content table{width:98%;background: white;margin:auto;margin-top:10px;border-left: 1px solid #EEF3F7;border-right:1px solid #EEF3F7;}
.r_content thead tr{height:40px;background:#EEF3F7;line-height: 40px;color:#75808E;border-top-left-radius:10px;border-top-right-radius:10px;text-a lign:left;font-size:14px;}
.r_content thead tr th{padding -left:2%;}
.r_content tbody tr.trtwo{background: #F3F8FB}
.r_content tbody td{height:40px;line-height: 40px;text-align:left;padding-left:4%;}
.r_content tbody td span{padding:3px 8px;background: #99CC00;border-radius:3px;color:white;margin-right:10px;}
.r_content tbody td a{padding:3px 10px;background: #75808E;border-radius:3px;color:white;}
.r_content tbody td a.lasta{background:#C5A36B;margin-left:5px;}
.tit{height: 83px;line-height: 83px;background:#DFDFDF;text-align:center; }
.tit .page input{padding:5px 9px;background: #DFDFDF;border:1px solid #656576;cursor:pointer;}
.tit .page input.page_b1{border:none;background: #656576;}