@import url(common.css);

.r_content{margin-top:100px;width: 96%;border-left: 1px solid #CFD3D6;border-right:1px solid #CFD3D6;margin:20px;}
.r_content table{width:100%;background: white;}
.r_content thead tr{height:40px;background:#75808E;line-height: 40px;color:white;border-top-left-radius:10px;border-top-right-radius:10px;}
.r_content tbody tr.trtwo{background: #F3F8FB}
.r_content tbody td{height:40px;line-height: 40px;text-align:center;}
.r_content tbody td a{padding:3px 10px;background: #75808E;border-radius:3px;color:white;}
.r_content tbody td a.lasta{background:#C5A36B;margin-left:5px;}
.tit{height: 83px;line-height: 83px;background:#DFDFDF;text-align:center; }
.tit .page input{padding:5px 7px;background: #DFDFDF;border:1px solid #656576;cursor:pointer;}
.tit .page input.page_b1{border:none;background: #656576;}