@import url(common.css);


.content{width:96%;margin:auto;}
.top_title{height:90px;width:100%;background: #75808E;text-align:center;margin-top:20px;position:relative;}
.top_title h2{color:white;font:bold 20px/40px "微软雅黑";padding-top:10px;}
.top_title span{color:#FFCC00;font-size:14px;}
.top_title .tit_check{position:absolute;padding:3px 10px;background:#5BE6FD;color:white;border-radius:3px;left:12%;top:20px;}
.smallt{height:40px;line-height: 40px;text-align:center;background:white;}
.smallt span{color:#6E7C96;margin-right:20px;}
.smallt a{color:#3399CC;margin-right:20px;}
.smallt a.edit{color:#C5A36B;}

/*slide*/
.show-content{
	margin-top:15px;
	margin-bottom:15px;
}
.show-content .slider{
	height:617px;
	overflow:hidden;
	width:740px;
	margin:0 auto;
	
}
.show-content .slider .show-box{
	height:505px;
	overflow:hidden;
	position: relative;
}
.show-content .slider .show-box ul li{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:none;
}
.show-content .slider .show-box ul li a{
	display:block;
	height:100%;
	height:100%;
}
.show-content .slider .show-box img{
	height:100%;
	height:100%;
	opacity: 0;
}
.show-content .slider .show-box ul li.active{
	display:block;
	z-index:10;
}
.show-content .slider .thumb{
	height:95px;
	margin-top:15px;
	background-color: rgb(50,50,58);
}
.show-content .slider .thumb .buttonico{
	width:35px;
	height:95px;
}
.show-content .slider .thumb  .leftico{
	float:left;
	background:url(../images/detail1/icon-left-button.png) no-repeat;
	cursor: pointer;
}
.show-content .slider .thumb ul{
	float:left;
	height:95px;
	width:660px;
	overflow:hidden;
}
.show-content .slider .thumb ul li{
	width:140px;
	height:95px;
	margin-left:10px;
	float:left;
	position:relative;
}
.show-content .slider .thumb ul li.active .shadow{
	display:none;
}
.show-content .slider .thumb ul li a{
	display:block;
	height:100%;
	width:100%;
}
.show-content .slider .thumb ul li img{
	height:100%;
	width:100%;
}
.show-content .slider .thumb .shadow{
	height:95px;
	width:140px;
	position:absolute;
	left:0;
	top:0;
	background:#000;
	opacity: 0.5;
	filter:alpha(opacity=50);
	z-index:10;
	display:block;
	cursor:pointer;
}
.show-content .slider .thumb  .rightico{
	float:right;
	background:url(../images/detail1/icon-right-button.png) no-repeat;
	cursor: pointer;
} 

#jsFont{width:740px;margin:auto;bor der:1px solid red;}
#jsTabMenu{height:43px;position:relative;}
#jsTabMenu li{float:left;padding:12px 32px;border:1px solid #3399CC;border-left:none;border-bottom:1px solid #6E7C96;cursor: pointer;}
#jsTabMenu li.firstli{border-left:1px solid #3399CC;}
#jsTabMenu li a{color:#3399CC;}
#jsTabMenu li.active{border:1px solid #6E7C96;border-bottom:none;border-top-width:2px;}
#jsTabMenu li.active a{color:#6E7C96;}
.linear{position:absolute;right:0px;bottom:0px;width:359px;height:1px;background: #6E7C96;}
.contents{margin-top:30px;display: none;}
.dis{display:block;}
.contents p{line-height: 28px;color:#6E7C96;font-size:13px;}
.see{height:83px;width:100%;background: #DFDFDF;text-align:center;margin-top:30px;line-height: 83px;padding-top:10px;margin-bottom:0px;}
.see a{display: block;width:270px;height:40px;line-height: 40px;text-align:center;font-size:14px;color:white;margin:auto;background: #F29200;margin-top:20px;}